<h1>Here are all the details of the restaurant</h1>

<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>

<%= link_to 'Back to list', restaurants_path, class: 'btn btn-warning' %>

