
<div class="container text-center">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <h1>Add a new Review</h1>
      <%= simple_form_for [@restaurant, @review] do |f| %>
        <%= f.error_notification %>

        <%= f.input :content, label: "your review" %>
        <div id="notes">
        <%= f.input :rating, collection: 0..5, as: :radio_buttons, id: 'checkbox' %>
        </div>

        <%= f.button :submit, class: 'btn btn-warning' %>
      <% end %>
    </div>
  </div>
    <%= link_to 'Restaurants\'list', restaurants_path, class: 'btn btn-info' %>
</div>

